<template name="hmo_record">
	<div class="container">
		<div class="starter-template">
			<h4 class="text-left">HMO Record</h4>
			<div class="col-md-3">
				<div class="row">
					<h4>HMO List</h4>
					<input type="text" class="form-control" placeholder="Enter HMO ID or Name">
					<div class="table-responsive">
						<table class="table table-condensed table-hover">
							<thead>
								<tr>
									<th class="text-center">HMO ID</th>
									<th class="text-center">HMO Name</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="text-left"><div class="pseudo-center">COM-001</div></td>
									<td class="text-left"><div class="pseudo-center">HMO 1</div></td>
								</tr>
								<tr>
									<td class="text-left"><div class="pseudo-center">COM-002</div></td>
									<td class="text-left"><div class="pseudo-center">HMO 2</div></td>
								</tr>
								<tr>
									<td class="text-left"><div class="pseudo-center">COM-003</div></td>
									<td class="text-left"><div class="pseudo-center">HMO 3</div></td>
								</tr>
								<tr>
									<td class="text-left"><div class="pseudo-center">COM-004</div></td>
									<td class="text-left"><div class="pseudo-center">HMO 4</div></td>
								</tr>
								<tr>
									<td class="text-left"><div class="pseudo-center">COM-005</div></td>
									<td class="text-left"><div class="pseudo-center">HMO 5</div></td>
								</tr>
								<tr>
									<td class="text-left"><div class="pseudo-center">COM-006</div></td>
									<td class="text-left"><div class="pseudo-center">HMO 6</div></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-md-offset-1">
				<div class="row">
					<h4>HMO Information</h4>
					<table class="table tbl-borderless">
						<tr>
							<td>HMO ID</td>
							<td><input type="text" class="form-control"></td>
						</tr>
						<tr>
							<td>HMO Name</td>
							<td><input type="text" class="form-control"></td>
						</tr>
						<tr>
							<td>Address</td>
							<td><input type="text" class="form-control"></td>
						</tr>
						<tr>
							<td>Date Joined</td>
							<td><input type="text" class="form-control"></td>
						</tr>
						<tr>
							<td>TIN</td>
							<td><input type="text" class="form-control"></td>
						</tr>
						<tr>
							<td>Email</td>
							<td><input type="text" class="form-control"></td>
						</tr>
						<tr>
							<td>Phone</td>
							<td><input type="text" class="form-control"></td>
						</tr>
						<tr>
							<td>Skype</td>
							<td><input type="text" class="form-control"></td>
						</tr>
						<tr>
							<td>Website</td>
							<td><input type="text" class="form-control"></td>
						</tr>
						<tr>
							<td>Credit Limit</td>
							<td><input type="text" class="form-control"></td>
						</tr>
						<tr>
							<td><input type="button" class="btn btn-primary" value="Remove Record"></td>							
							<td><input type="button" class="btn btn-primary" value="Save Changes"></td>
						</tr>
					</table>
				</div>
			</div>
			<div class="col-md-3 col-md-offset-1">
				<div class="row">
					<h4>New HMO</h4>
					<table class="table tbl-borderless">
						<tr>
							<td>HMO ID</td>
							<td><input type="text" class="form-control"></td>
						</tr>
						<tr>
							<td>HMO Name</td>
							<td><input type="text" class="form-control"></td>
						</tr>
						<tr>
							<td>Address</td>
							<td><input type="text" class="form-control"></td>
						</tr>
						<tr>
							<td>Date Joined</td>
							<td><input type="text" class="form-control"></td>
						</tr>
						<tr>
							<td>TIN</td>
							<td><input type="text" class="form-control"></td>
						</tr>
						<tr>
							<td>Email</td>
							<td><input type="text" class="form-control"></td>
						</tr>
						<tr>
							<td>Phone</td>
							<td><input type="text" class="form-control"></td>
						</tr>
						<tr>
							<td>Skype</td>
							<td><input type="text" class="form-control"></td>
						</tr>
						<tr>
							<td>Website</td>
							<td><input type="text" class="form-control"></td>
						</tr>
						<tr>
							<td>Credit Limit</td>
							<td><input type="text" class="form-control"></td>
						</tr>
						<tr>
							<td><input type="button" class="btn btn-primary" value="Reset Input Fields"></td>
							<td><input type="button" class="btn btn-primary" value="Add New Record"></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</template>