<template name="inventory">
	<div class="container">
		<div class="starter-template">
			<h4 class="text-left">Inventory</h4>
			<div class="col-md-3">
				<div class="row">
					<h4>Item List</h4>
					<input type="text" class="form-control" placeholder="Enter SKU or Description">
					<div class="table-responsive">
						<table class="table table-condensed table-hover">
							<thead>
								<tr>
									<th class="text-center">SKU</th>
									<th class="text-center">Item Description</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="text-left"><div class="pseudo-center">ITM-001</div></td>
									<td class="text-left"><div class="pseudo-center">Item 1</div></td>
								</tr>
								<tr>
									<td class="text-left"><div class="pseudo-center">ITM-002</div></td>
									<td class="text-left"><div class="pseudo-center">Item 2</div></td>
								</tr>
								<tr>
									<td class="text-left"><div class="pseudo-center">ITM-003</div></td>
									<td class="text-left"><div class="pseudo-center">Item 3</div></td>
								</tr>
								<tr>
									<td class="text-left"><div class="pseudo-center">ITM-004</div></td>
									<td class="text-left"><div class="pseudo-center">Item 4</div></td>
								</tr>
								<tr>
									<td class="text-left"><div class="pseudo-center">ITM-005</div></td>
									<td class="text-left"><div class="pseudo-center">Item 5</div></td>
								</tr>
								<tr>
									<td class="text-left"><div class="pseudo-center">ITM-006</div></td>
									<td class="text-left"><div class="pseudo-center">Item 6</div></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-md-offset-1">
				<div class="row">
					<h4>Item Information</h4>
					<table class="table tbl-borderless">
						<tr>
							<td>SKU</td>
							<td><input type="text" class="form-control"></td>
						</tr>
						<tr>
							<td>Item Description</td>
							<td><input type="text" class="form-control"></td>
						</tr>
						<tr>
							<td>Purchase Cost</td>
							<td><input type="text" class="form-control"></td>
						</tr>
						<tr>
							<td>Purchase Date</td>
							<td><input type="text" class="form-control"></td>
						</tr>
						<tr>
							<td>Added Quantity</td>
							<td><input type="text" class="form-control"></td>
						</tr>
						<tr>
							<td><input type="button" class="btn btn-primary" value="Remove Record"></td>							
							<td><input type="button" class="btn btn-primary" value="Save Changes"></td>
						</tr>
					</table>
				</div>
			</div>
			<div class="col-md-3 col-md-offset-1">
				<div class="row">
					<h4>New Item</h4>
					<table class="table tbl-borderless">
						<tr>
							<td>SKU</td>
							<td><input type="text" class="form-control"></td>
						</tr>
						<tr>
							<td>Item Description</td>
							<td><input type="text" class="form-control"></td>
						</tr>
						<tr>
							<td>Purchase Cost</td>
							<td><input type="text" class="form-control"></td>
						</tr>
						<tr>
							<td>Purchase Date</td>
							<td><input type="text" class="form-control"></td>
						</tr>
						<tr>
							<td>Added Quantity</td>
							<td><input type="text" class="form-control"></td>
						</tr>
						<tr>
							<td><input type="button" class="btn btn-primary" value="Reset Input Fields"></td>
							<td><input type="button" class="btn btn-primary" value="Add New Record"></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</template>