<template name="patient_record">
	<div class="container">
		<div class="starter-template">
			<h4 class="text-left">Patient Record</h4>
			<div class="col-md-3">
				<div class="row">
					<h4>Patient List</h4>
					<input type="text" class="form-control" placeholder="Enter SKU or Description">
					<div class="table-responsive">
						<table class="table table-condensed table-hover">
							<thead>
								<tr>
									<th class="text-center">Patient ID</th>
									<th class="text-center">Name</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="text-left"><div class="pseudo-center">PAT-001</div></td>
									<td class="text-left"><div class="pseudo-center">Patient 1</div></td>
								</tr>
								<tr>
									<td class="text-left"><div class="pseudo-center">PAT-002</div></td>
									<td class="text-left"><div class="pseudo-center">Patient 2</div></td>
								</tr>
								<tr>
									<td class="text-left"><div class="pseudo-center">PAT-003</div></td>
									<td class="text-left"><div class="pseudo-center">Patient 3</div></td>
								</tr>
								<tr>
									<td class="text-left"><div class="pseudo-center">PAT-004</div></td>
									<td class="text-left"><div class="pseudo-center">Patient 4</div></td>
								</tr>
								<tr>
									<td class="text-left"><div class="pseudo-center">PAT-005</div></td>
									<td class="text-left"><div class="pseudo-center">Patient 5</div></td>
								</tr>
								<tr>
									<td class="text-left"><div class="pseudo-center">PAT-006</div></td>
									<td class="text-left"><div class="pseudo-center">Patient 6</div></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-md-offset-1">
				<div class="row">
					<h4>Patient Information</h4>
					<table class="table tbl-borderless">
						<tr>
							<td>Patient ID</td>
							<td><input type="text" class="form-control"></td>
						</tr>
						<tr>
							<td>Patient Name</td>
							<td><input type="text" class="form-control"></td>
						</tr>
						<tr>
							<td>Birthdate</td>
							<td><input type="text" class="form-control"></td>
						</tr>
						<tr>
							<td>Address</td>
							<td><input type="text" class="form-control"></td>
						</tr>
						<tr>
							<td>Sex</td>
							<td><input type="text" class="form-control"></td>
						</tr>
						<tr>
							<td>Civil Status</td>
							<td><input type="text" class="form-control"></td>
						</tr>
						<tr>
							<td>Company</td>
							<td><input type="text" class="form-control"></td>
						</tr>
						<tr>
							<td>HMO</td>
							<td><input type="text" class="form-control"></td>
						</tr>						
						<tr>
							<td>Email</td>
							<td><input type="text" class="form-control"></td>
						</tr>
						<tr>
							<td>Phone</td>
							<td><input type="text" class="form-control"></td>
						</tr>
						<tr>
							<td>Skype</td>
							<td><input type="text" class="form-control"></td>
						</tr>
						<tr>
							<td>Allergies</td>
							<td><input type="text" class="form-control"></td>
						</tr>
						<tr>
							<td><input type="button" class="btn btn-primary" value="Remove Record"></td>							
							<td><input type="button" class="btn btn-primary" value="Save Changes"></td>
						</tr>
					</table>
				</div>
			</div>
			<div class="col-md-3 col-md-offset-1">
				<div class="row">
					<h4>New Patient</h4>
					<table class="table tbl-borderless">
						<tr>
							<td>Patient ID</td>
							<td><input type="text" class="form-control"></td>
						</tr>
						<tr>
							<td>Patient Name</td>
							<td><input type="text" class="form-control"></td>
						</tr>
						<tr>
							<td>Birthdate</td>
							<td><input type="text" class="form-control"></td>
						</tr>
						<tr>
							<td>Address</td>
							<td><input type="text" class="form-control"></td>
						</tr>
						<tr>
							<td>Sex</td>
							<td><input type="text" class="form-control"></td>
						</tr>
						<tr>
							<td>Civil Status</td>
							<td><input type="text" class="form-control"></td>
						</tr>
						<tr>
							<td>Company</td>
							<td><input type="text" class="form-control"></td>
						</tr>
						<tr>
							<td>HMO</td>
							<td><input type="text" class="form-control"></td>
						</tr>						
						<tr>
							<td>Email</td>
							<td><input type="text" class="form-control"></td>
						</tr>
						<tr>
							<td>Phone</td>
							<td><input type="text" class="form-control"></td>
						</tr>
						<tr>
							<td>Skype</td>
							<td><input type="text" class="form-control"></td>
						</tr>
						<tr>
							<td>Allergies</td>
							<td><input type="text" class="form-control"></td>
						</tr>
						<tr>
							<td><input type="button" class="btn btn-primary" value="Reset Input Fields"></td>
							<td><input type="button" class="btn btn-primary" value="Add New Record"></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</template>