<template name="patient_record">
	<div class="container">
		<div class="starter-template">
			<h4 class="text-left">Patient Record</h4>
			<div class="col-md-3">
				<div class="row">
					<h4>Patient List</h4>
					<input type="text" class="form-control" placeholder="Enter Patient ID or Name">
					<div class="table-responsive">
						<table class="table table-condensed table-hover" id="patient_table">
							<thead>
								<tr>
									<th class="text-center">Patient ID</th>
									<th class="text-center">Name</th>
								</tr>
							</thead>
							<tbody>
								{{#each patients}}
								<tr id="{{_id}}" class="tr_hover">
									<td class="text-left"><div class="pseudo-center">{{patient_id}}</div></td>
									<td class="text-left"><div class="pseudo-center">{{patient_name}}</div></td>
								</tr>
								{{/each}}
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="col-md-4 mini-padding">
				<div class="row">
					{{#with current_patient}}
					<h4>Patient Information</h4>
					<input type="hidden" id="pi_id" value="{{_id}}">
					<form id="pai_form">
						<table class="table tbl-borderless">
							<tr>
								<td>Patient ID</td>
								<td><input type="text" name="patient_id" value="{{patient_id}}" class="form-control"></td>
							</tr>
							<tr>
								<td>Patient Name</td>
								<td><input type="text" name="patient_name" value="{{patient_name}}" class="form-control"></td>
							</tr>
							<tr>
								<td>Birthdate</td>
								<td><input type="text" name="birthdate" value="{{birthdate}}" id="birthday2" class="form-control"></td>
							</tr>
							<tr>
								<td>Address</td>
								<td><input type="text" name="address" value="{{address}}" class="form-control"></td>
							</tr>
							<tr>
								<td>Sex</td>
								<td>
									<select class="form-control" id="sex2">
										<option value="Male">Male</option>
										<option value="Female">Female</option>
									</select>
								</td>
							</tr>
							<tr>
								<td>Civil Status</td>
								<td>
									<select class="form-control" id="civil_status2">
										<option value="Single">Single</option>
										<option value="Married">Married</option>
										<option value="Divorced">Divorced</option>
										<option value="Widowed">Widowed</option>
										<option value="Separated">Separated</option>
										<option value="Others">Others</option>
									</select>
								</td>
							</tr>
							<tr>
								<td>Company</td>
								<td>
									<select class="form-control" id="company2">
										{{#each companies}}
										<option value="{{company_id}}">{{company_name}}</option>
										{{/each}}
									</select>
								</td>
							</tr>
							<tr>
								<td>HMO</td>
								<td>
									<select class="form-control" id="hmo2">
										{{#each hmos}}
										<option value="{{hmo_id}}">{{hmo_name}}</option>
										{{/each}}
									</select>
								</td>
							</tr>						
							<tr>
								<td>Email</td>
								<td><input type="text" name="email" value="{{email}}" class="form-control"></td>
							</tr>
							<tr>
								<td>Phone</td>
								<td><input type="text" name="phone" value="{{phone}}" class="form-control"></td>
							</tr>
							<tr>
								<td>Skype</td>
								<td><input type="text" name="skype" value="{{skype}}" class="form-control"></td>
							</tr>
							<tr>
								<td>Allergies</td>
								<td><input type="text" name="allergies" value="{{allergies}}" class="form-control"></td>
							</tr>
							<tr>
								<td><input type="button" class="btn btn-primary" value="Remove Record"></td>							
								<td><button type="submit" class="btn btn-primary">Save Changes</button></td>
							</tr>
						</table>
					</form>
					{{/with}}
				</div>
			</div>
			<div class="col-md-4 mini-padding">
				<div class="row">
					<h4>New Patient</h4>
					<form id="npa_form">
						<table class="table tbl-borderless">
							<tr>
								<td>Patient ID</td>
								<td><input type="text" name="patient_id" class="form-control"></td>
							</tr>
							<tr>
								<td>Patient Name</td>
								<td><input type="text" name="patient_name" class="form-control"></td>
							</tr>
							<tr>
								<td>Birthdate</td>
								<td><input type="text" name="birthdate" id="birthday" class="form-control"></td>
							</tr>
							<tr>
								<td>Address</td>
								<td><input type="text" name="address" class="form-control"></td>
							</tr>
							<tr>
								<td>Sex</td>
								<td>
									<select class="form-control" id="sex">
										<option value="Male">Male</option>
										<option value="Female">Female</option>
									</select>
								</td>
							</tr>
							<tr>
								<td>Civil Status</td>
								<td>
									<select class="form-control" id="civil_status">
										<option value="Single">Single</option>
										<option value="Married">Married</option>
										<option value="Divorced">Divorced</option>
										<option value="Widowed">Widowed</option>
										<option value="Separated">Separated</option>
										<option value="Others">Others</option>
									</select>
								</td>
							</tr>
							<tr>
								<td>Company</td>
								<td>
									<select class="form-control" id="company">
										{{#each companies}}
										<option value="{{company_id}}">{{company_name}}</option>
										{{/each}}
									</select>
								</td>
							</tr>
							<tr>
								<td>HMO</td>
								<td>
									<select class="form-control" id="hmo">
										{{#each hmos}}
										<option value="{{hmo_id}}">{{hmo_name}}</option>
										{{/each}}
									</select>
								</td>
							</tr>						
							<tr>
								<td>Email</td>
								<td><input type="text" name="email" class="form-control"></td>
							</tr>
							<tr>
								<td>Phone</td>
								<td><input type="text" name="phone" class="form-control"></td>
							</tr>
							<tr>
								<td>Skype</td>
								<td><input type="text" name="skype" class="form-control"></td>
							</tr>
							<tr>
								<td>Allergies</td>
								<td><input type="text" name="allergies" class="form-control"></td>
							</tr>
							<tr>
								<td><input type="button" class="btn btn-primary" value="Reset Input Fields"></td>
								<td><button type="submit" class="btn btn-primary">Add New Record</button></td>
							</tr>
						</table>
					</form>
				</div>
			</div>
		</div>
	</div>
</template>