<template name="reports">
	<div class="container">
		<div class="starter-template">
			<h4 class="text-left">Reports</h4>
			<ul class="nav nav-tabs" id="processes_tabs">
				<li class="active"><a href="#sales_report" data-toggle="tab">Sales</a></li>
				<li><a href="#expense_report" data-toggle="tab">Expense</a></li>
				<li><a href="#inventory_report" data-toggle="tab">Inventory</a></li>
				<li><a href="#accounts_receivable" data-toggle="tab">A/R</a></li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane active" id="sales_report">
					<h4 class="text-left">Sales Report</h4>
					<div class="col-md-3">
						<div class="row">
							<div class="table-responsive">
								<table class="table table-condensed table-hover">
									<thead>
										<tr>
											<th class="text-center">Archived</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td class="text-center">01/01/14 - 01/31/14</td>
										</tr>
										<tr>
											<td class="text-center">02/01/14 - 02/29/14</td>
										</tr>
										<tr>
											<td class="text-center">03/01/14 - 03/31/14</td>
										</tr>
										<tr>
											<td class="text-center">04/01/14 - 04/30/14</td>
										</tr>
										<tr>
											<td class="text-center">05/01/14 - 05/31/14</td>
										</tr>
										<tr>
											<td class="text-center">06/01/14 - 06/30/14</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-md-offset-1">
						<div class="row">
							<table class="table tbl-borderless">
								<tr>
									<td>
										<select class="form-control">
											<option>January</option>
											<option>February</option>
											<option>March</option>
											<option>April</option>
											<option>May</option>
											<option>June</option>
											<option>July</option>
											<option>August</option>
											<option>September</option>
											<option>October</option>
											<option>November</option>
											<option>December</option>
										</select>
									</td>
									<td><input type="button" class="btn btn-primary" value="Generate Report"></td>
								</tr>
							</table>
						</div>
					</div>
				</div>
				<div class="tab-pane" id="expense_report">
					<h4 class="text-left">Expense Report</h4>
					<div class="col-md-3">
						<div class="row">
							<div class="table-responsive">
								<table class="table table-condensed table-hover">
									<thead>
										<tr>
											<th class="text-center">Archived</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td class="text-center">01/01/14 - 01/31/14</td>
										</tr>
										<tr>
											<td class="text-center">02/01/14 - 02/29/14</td>
										</tr>
										<tr>
											<td class="text-center">03/01/14 - 03/31/14</td>
										</tr>
										<tr>
											<td class="text-center">04/01/14 - 04/30/14</td>
										</tr>
										<tr>
											<td class="text-center">05/01/14 - 05/31/14</td>
										</tr>
										<tr>
											<td class="text-center">06/01/14 - 06/30/14</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-md-offset-1">
						<div class="row">
							<table class="table tbl-borderless">
								<tr>
									<td>
										<select class="form-control">
											<option>January</option>
											<option>February</option>
											<option>March</option>
											<option>April</option>
											<option>May</option>
											<option>June</option>
											<option>July</option>
											<option>August</option>
											<option>September</option>
											<option>October</option>
											<option>November</option>
											<option>December</option>
										</select>
									</td>
									<td><input type="button" class="btn btn-primary" value="Generate Report"></td>
								</tr>
							</table>
						</div>
					</div>
				</div>
				<div class="tab-pane" id="inventory_report">
					<h4 class="text-left">Inventory Report</h4>
					<div class="col-md-3">
						<div class="row">
							<div class="table-responsive">
								<table class="table table-condensed table-hover">
									<thead>
										<tr>
											<th class="text-center">Archived</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td class="text-center">01/01/14 - 01/31/14</td>
										</tr>
										<tr>
											<td class="text-center">02/01/14 - 02/29/14</td>
										</tr>
										<tr>
											<td class="text-center">03/01/14 - 03/31/14</td>
										</tr>
										<tr>
											<td class="text-center">04/01/14 - 04/30/14</td>
										</tr>
										<tr>
											<td class="text-center">05/01/14 - 05/31/14</td>
										</tr>
										<tr>
											<td class="text-center">06/01/14 - 06/30/14</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-md-offset-1">
						<div class="row">
							<table class="table tbl-borderless">
								<tr>
									<td>
										<select class="form-control">
											<option>January</option>
											<option>February</option>
											<option>March</option>
											<option>April</option>
											<option>May</option>
											<option>June</option>
											<option>July</option>
											<option>August</option>
											<option>September</option>
											<option>October</option>
											<option>November</option>
											<option>December</option>
										</select>
									</td>
									<td><input type="button" class="btn btn-primary" value="Generate Report"></td>
								</tr>
							</table>
						</div>
					</div>
				</div>
				<div class="tab-pane" id="accounts_receivable">
					<h4 class="text-left">Accounts Recievable</h4>
					<div class="col-md-3">
						<div class="row">
							<div class="table-responsive">
								<table class="table table-condensed table-hover">
									<thead>
										<tr>
											<th class="text-center">Archived</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td class="text-center">01/01/14 - 01/31/14</td>
										</tr>
										<tr>
											<td class="text-center">02/01/14 - 02/29/14</td>
										</tr>
										<tr>
											<td class="text-center">03/01/14 - 03/31/14</td>
										</tr>
										<tr>
											<td class="text-center">04/01/14 - 04/30/14</td>
										</tr>
										<tr>
											<td class="text-center">05/01/14 - 05/31/14</td>
										</tr>
										<tr>
											<td class="text-center">06/01/14 - 06/30/14</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-md-offset-1">
						<div class="row">
							<table class="table tbl-borderless">
								<tr>
									<td>
										<select class="form-control">
											<option>January</option>
											<option>February</option>
											<option>March</option>
											<option>April</option>
											<option>May</option>
											<option>June</option>
											<option>July</option>
											<option>August</option>
											<option>September</option>
											<option>October</option>
											<option>November</option>
											<option>December</option>
										</select>
									</td>
									<td><input type="button" class="btn btn-primary" value="Generate Report"></td>
								</tr>
							</table>
						</div>
					</div>
					<!-- <div class="col-md-6 col-md-offset-1">
						<div class="row">						
							<table class="table tbl-borderless">
								<tr><td colspan="4">View total Accounts Recievable from</td></tr>
								<tr>
									<td><input type="text" class="form-control"></td>
									<td>&nbsp;to&nbsp;</td>
									<td><input type="text" class="form-control"></td>
									<td><button class="btn btn-primary"><span class="glyphicon glyphicon-search"></span></button></td>
								</tr>
							</table>
						</div>
					</div> -->
				</div>
			</div>
		</div>
	</div>
</template>