<template name="users">
	<div class="container">
		<div class="starter-template">
			<h4 class="text-left">Users List</h4>
			<div class="col-md-3">
				<div class="row">
					<h4>Users</h4>
					<input type="text" class="form-control" placeholder="Enter User ID or Name">
					<div class="table-responsive">
						<table class="table table-condensed table-hover">
							<thead>
								<tr>
									<th class="text-center">User ID</th>
									<th class="text-center">Name</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="text-left"><div class="pseudo-center">USR-001</div></td>
									<td class="text-left"><div class="pseudo-center">User 1</div></td>
								</tr>
								<tr>
									<td class="text-left"><div class="pseudo-center">USR-002</div></td>
									<td class="text-left"><div class="pseudo-center">User 2</div></td>
								</tr>
								<tr>
									<td class="text-left"><div class="pseudo-center">USR-003</div></td>
									<td class="text-left"><div class="pseudo-center">User 3</div></td>
								</tr>
								<tr>
									<td class="text-left"><div class="pseudo-center">USR-004</div></td>
									<td class="text-left"><div class="pseudo-center">User 4</div></td>
								</tr>
								<tr>
									<td class="text-left"><div class="pseudo-center">USR-005</div></td>
									<td class="text-left"><div class="pseudo-center">User 5</div></td>
								</tr>
								<tr>
									<td class="text-left"><div class="pseudo-center">USR-006</div></td>
									<td class="text-left"><div class="pseudo-center">User 6</div></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-md-offset-1">
				<div class="row">
					<h4>User Information</h4>
					<table class="table tbl-borderless">
						<tr>
							<td>User ID</td>
							<td><input type="text" class="form-control"></td>
						</tr>
						<tr>
							<td>Username</td>
							<td><input type="text" class="form-control"></td>
						</tr>
						<tr>
							<td>Password</td>
							<td><input type="password" class="form-control"></td>
						</tr>
						<tr>
							<td>Name</td>
							<td><input type="text" class="form-control"></td>
						</tr>
						<tr>
							<td>Birthdate</td>
							<td><input type="text" class="form-control"></td>
						</tr>
						<tr>
							<td>Address</td>
							<td><input type="text" class="form-control"></td>
						</tr>
						<tr>
							<td>Sex</td>
							<td><input type="text" class="form-control"></td>
						</tr>
						<tr>
							<td>Civil Status</td>
							<td><input type="text" class="form-control"></td>
						</tr>						
						<tr>
							<td>Email</td>
							<td><input type="text" class="form-control"></td>
						</tr>
						<tr>
							<td>Phone</td>
							<td><input type="text" class="form-control"></td>
						</tr>
						<tr>
							<td>Skype</td>
							<td><input type="text" class="form-control"></td>
						</tr>
						<tr>
							<td>Level 1 Access</td>
							<td class="text-center"><input type="checkbox"></td>
						</tr>
						<tr>
							<td>Level 2 Access</td>
							<td class="text-center"><input type="checkbox"></td>
						</tr>
						<tr>
							<td>Level 3 Access</td>
							<td class="text-center"><input type="checkbox"></td>
						</tr>
						<tr>
							<td>Level 4 Access</td>
							<td class="text-center"><input type="checkbox"></td>
						</tr>
						<tr>
							<td>Level 5 Access</td>
							<td class="text-center"><input type="checkbox"></td>
						</tr>
						<tr>
							<td><input type="button" class="btn btn-primary" value="Remove Record"></td>							
							<td><input type="button" class="btn btn-primary" value="Save Changes"></td>
						</tr>
					</table>
				</div>
			</div>
			<div class="col-md-3 col-md-offset-1">
				<div class="row">
					<h4>Create New User</h4>
					<table class="table tbl-borderless">
						<tr>
							<td>User ID</td>
							<td><input type="text" class="form-control"></td>
						</tr>
						<tr>
							<td>Username</td>
							<td><input type="text" class="form-control"></td>
						</tr>
						<tr>
							<td>Password</td>
							<td><input type="password" class="form-control"></td>
						</tr>
						<tr>
							<td>Name</td>
							<td><input type="text" class="form-control"></td>
						</tr>
						<tr>
							<td>Birthdate</td>
							<td><input type="text" class="form-control"></td>
						</tr>
						<tr>
							<td>Address</td>
							<td><input type="text" class="form-control"></td>
						</tr>
						<tr>
							<td>Sex</td>
							<td><input type="text" class="form-control"></td>
						</tr>
						<tr>
							<td>Civil Status</td>
							<td><input type="text" class="form-control"></td>
						</tr>						
						<tr>
							<td>Email</td>
							<td><input type="text" class="form-control"></td>
						</tr>
						<tr>
							<td>Phone</td>
							<td><input type="text" class="form-control"></td>
						</tr>
						<tr>
							<td>Skype</td>
							<td><input type="text" class="form-control"></td>
						</tr>
						<tr>
							<td>Level 1 Access</td>
							<td class="text-center"><input type="checkbox"></td>
						</tr>
						<tr>
							<td>Level 2 Access</td>
							<td class="text-center"><input type="checkbox"></td>
						</tr>
						<tr>
							<td>Level 3 Access</td>
							<td class="text-center"><input type="checkbox"></td>
						</tr>
						<tr>
							<td>Level 4 Access</td>
							<td class="text-center"><input type="checkbox"></td>
						</tr>
						<tr>
							<td>Level 5 Access</td>
							<td class="text-center"><input type="checkbox"></td>
						</tr>
						<tr>
							<td><input type="button" class="btn btn-primary" value="Reset Input Fields"></td>
							<td><input type="button" class="btn btn-primary" value="Create New User"></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</template>